.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
textarea::placeholder {
  color: #6c757d; /* for light mode */
  opacity: 1;
}
body.dark-mode textarea::placeholder {
  color: #bfc9d4; /* for dark mode */
}
.custom-alert {
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: translateY(-20px);
  margin-bottom: 10px;
}

.custom-alert.show {
  opacity: 1;
  transform: translateY(0);
}

.custom-alert.hide {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
